<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Banco</a></li>
        <li class="breadcrumb-item"><a>@Tela</a></li>
    </ol>
</nav>

@code{
    [Parameter] public string Tela { get; set; }
}