@page "/"

<div class="row justify-content-center">
    <h3>Trabalho para fins acadêmico - FACULDADE COTEMIG</h3>
</div>
<hr />
<div class="row justify-content-center">
    <h5>Inteligência Artificial - 5° Período | Sistemas Especialistas</h5>
</div>
<div class="row justify-content-center">
    <h5>Professor: Enock</h5>
</div>
<hr />
<div class="card">
    <div class="card-header justify-content-center">
        Desenvolvido por
    </div>
    <div class="card-body">
        <h5 class="card-title">Fabio Martineli</h5>
        <h5 class="card-title">Felipe Arantes</h5>
        <h5 class="card-title">Matheus Henrique</h5>
        <p class="card-text">@{DateTime.Now.ToString("dd/MM/yyyy");}</p>
    </div>
</div>